<nav class="blue darken-2">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="/admin" class="breadcrumb">Admin</a>
            <a href="/admin/event" class="breadcrumb">Change Event</a>
        </div>
    </div>
</nav>

{{#if success_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message green white-text">
                {{success_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center blue-text text-darken-4">Eaglescout &bull; Change Event</h1>
        <br>
        <form method="post" action="/admin/event">
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose event from list</option>
                    {{#if events}}
                        {{#each events}}
                            <option value="{{ key }}">{{ name }}</option>
                        {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="center">
                <button class="btn waves-effect waves-light red" type="submit" name="action">Change Event</button>
            </div>
        </form>
        <br>
    </div>
</div>